<article>
  <form action="/api/sessions/login" method="post">
    <header>
      <h1>Login</h1>
    </header>
    <input type="email" name="email" placeholder="Correo" required />
    <input type="password" name="password" placeholder="Contraseña" required />
    <footer>
      <input type="submit" value="Enviar">
    </footer>
  </form>
</article>